* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  border: 5px solid black;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(42, 129, 143, 1) 0%, rgba(32, 214, 212, 0.6166841736694677) 100%);
}


